{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Google Font Code -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&amp;subset=latin,cyrillic-ext,greek-ext,greek,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <!-- Stylesheets -->
    
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic' rel='stylesheet' type='text/css'>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/logo.ico">

    <title>{% block head_title %}Tiny Spot{% endblock %}</title>

    {% include 'head_css.html' %}

  </head>

  <body>

  {% include 'navbar.html' %}

{% block jumbotron %}

            {% endblock %}

    <div class="container-fluid">
            

          
            {% block content %}

            {% endblock %}
              

    </div> <!-- /container -->

    {% include "javascript.html" %}
    
    
  </body>
</html>

     

