{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}




     
{% block jumbotron %}
 {% if not request.user.is_authenticated %}
<div class="jumbotron">
 <div class="container">
    <div class="row">
        <div class='col-sm-6 jumbo_text'>
        <h1>Tiny Spot</h1>
        <p>A palce where tiny house enthusiasts and the curious can come together and share there stories. Register to tell us your story or browse as a guest if you wish</p>
        <!-- <p>
        <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
        </p> -->
        </div>
        <!-- <div class='col-sm-6' >
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2uLYO1LUf6Q" frameborder="0" allowfullscreen></iframe>

        </div> -->

        </div>
    </div>
 </div>
 {% endif %}
{% endblock %}




{% block content %}
 {% if request.user.is_authenticated %}
<h1>You are logged in!</h1>

    {% if queryset %}
    <h2>Welcome Staff</h2>
    <table class='table'>
    {% for instance in queryset %}
        <tr><td>{{ forloop.counter }}</td><td>{{ instance.email }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }} ago</td></tr>
        
    {% endfor %}
    </table>

    {% endif %}

 {% else %}
<div class="row">

  <div class="col-sm-3 pull-right">
    <a class="twitter-timeline" href="https://twitter.com/tiny_spot/lists/tinylist" data-widget-id="684529061155090433">Tweets from https://twitter.com/tiny_spot/lists/tinylist</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
    </div>

    <div class='col-sm-3'>
<p class='lead text-align-center'>Living is a little cramped...</p>
            <!-- <img src='{% static "" %}' class='img-responsive' /> -->
</div>

<div class='col-sm-3'>
<p class='lead text-align-center'>A little cozy... 
<br/>
<span class='fa-stack fa-lg fa-5x'>
<i class='fa fa-comment-o fa-stack-2x'></i>
<i style='color:yellow;' class="fa fa-bolt fa-stack-1x"></i>

</span>
</p>

</div>

<div class='col-sm-3'>
<p class='lead text-align-center'>a little more affordable <br/><br/>

<span class="fa-stack fa-lg fa-5x">
<i class="fa fa-circle-o-notch fa-stack-2x"></i>
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-github fa-stack-1x"></i>
</span>
</p>


</div>


</div>
{% endif %}

{% endblock %}