

<!--  :::  FOOTER ::: -->
<footer class="BGdark page-block-large">
  <div class="container">
        <h2>Tiny House Resources</h2>

    <div class="col-md-4 col-sm-12 content-box wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
      <div class="widget">
        <div class="category-post first">
           <div class="post-thumb">
              <a href="http://ironeagletrailers.com/ironeagle/" target="_blank" title="Post title"><img class="img-responsive" src="/static/img/blog/thumbs/eagle.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://ironeagletrailers.com/ironeagle/" target="_blank" title="Post title">Iron Eagle Trailors</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
        
        <div class="category-post">
           <div class="post-thumb">
              <a href="http://www.tumbleweedhouses.com/" target="_blank" title="Post title"><img class="img-responsive" src="/static/img/TWlogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.tumbleweedhouses.com/" target="_blank"title="Post title">Tumbleweed Tiny Houses</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
        
        <div class="category-post">
           <div class="post-thumb">
              <a href="http://www.tinyhouseliving.com/" title="Post title"><img class="img-responsive" src="/static/img/THLlogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.tinyhouseliving.com" title="Post title">Tiny House Living</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
      </div><!-- end widget -->
    </div><!-- end content box -->
    
    <div class="col-md-4 col-sm-12 content-box wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
      <div class="widget">
        <div class="category-post first">
           <div class="post-thumb">
              <a href="http://ironeagletrailers.com/ironeagle/" target="_blank" title="Post title"><img class="img-responsive" src="/static/img/blog/thumbs/eagle.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://ironeagletrailers.com/ironeagle/" target="_blank" title="Post title">Iron Eagle Trailors</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
        
        <div class="category-post">
           <div class="post-thumb">
              <a href="http://www.tumbleweedhouses.com/" target="_blank" title="Post title"><img class="img-responsive" src="/static/img/TWlogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.tumbleweedhouses.com/" target="_blank"title="Post title">Tumbleweed Tiny Houses</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
        
        <div class="category-post">
           <div class="post-thumb">
              <a href="http://www.tinyhouseliving.com/" title="Post title"><img class="img-responsive" src="/static/img/THLlogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.tinyhouseliving.com" title="Post title">Tiny House Living</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
      </div><!-- end widget -->
    </div><!-- end content box -->

    <div class="col-md-4 col-sm-12 content-box wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
      <div class="widget">
        <div class="category-post first">
           <div class="post-thumb">
              <a href="http://ironeagletrailers.com/ironeagle/" target="_blank" title="Post title"><img class="img-responsive" src="/static/img/blog/thumbs/eagle.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://ironeagletrailers.com/ironeagle/" target="_blank" title="Post title">Iron Eagle Trailors</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
        
        <div class="category-post">
           <div class="post-thumb">
              <a href="http://www.tumbleweedhouses.com/" target="_blank" title="Post title"><img class="img-responsive" src="/static/img/TWlogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.tumbleweedhouses.com/" target="_blank"title="Post title">Tumbleweed Tiny Houses</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
        
        <div class="category-post">
           <div class="post-thumb">
              <a href="http://www.tinyhouseliving.com/" title="Post title"><img class="img-responsive" src="/static/img/THLlogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.tinyhouseliving.com" title="Post title">Tiny House Living</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
      </div><!-- end widget -->
    </div><!-- end content box -->
      
      <div class="clear"></div>
      
      <hr class="light">
      
      
                  
    </div><!-- end content box -->
  </div><!--end-container--> 

</footer>
<!-- ::: END ::: -->