

<!--  :::  FOOTER ::: -->
<footer class="BGdark page-block-large">
  <div class="container">
        <h2>Tiny House Resources</h2>

    <div class="col-md-4 col-sm-12 content-box wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
      <div class="widget">
        <div class="category-post first">
           <div class="post-thumb">
              <a href="http://ironeagletrailers.com/ironeagle/" target="_blank" title="Post title"><img class="img-responsive" src="/static/img/IronEaglelogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://ironeagletrailers.com/ironeagle/" target="_blank" title="Post title">Iron Eagle Trailors</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
        
        <div class="category-post">
           <div class="post-thumb">
              <a href="http://www.tumbleweedhouses.com/" target="_blank" title="Post title"><img class="img-responsive" src="/static/img/TWlogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.tumbleweedhouses.com/" target="_blank"title="Post title">Tumbleweed Tiny Houses</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
        
        <div class="category-post">
           <div class="post-thumb">
              <a href="http://www.tinyhouseliving.com/" title="Post title"><img class="img-responsive" src="/static/img/THLlogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.tinyhouseliving.com" title="Post title">Tiny House Living</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
      </div><!-- end widget -->
    </div><!-- end content box -->
    
    <div class="col-md-4 col-sm-12 content-box wow fadeInLeft" data-wow-duration="0.50s" data-wow-delay="0.50s">
      <div class="widget">
        <div class="category-post first">
           <div class="post-thumb">
              <a href="http://www.homedepot.com/" target="_blank" title="Post title"><img class="img-responsive" src="/static/img/HDlogo.png" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.homedepot.com/" target="_blank" title="Post title">Home Depot</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
        
        <div class="category-post">
           <div class="post-thumb">
              <a href="http://www.metalsales.us.com/" target="_blank" title="Post title"><img class="img-responsive" src="/static/img/MSlogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.metalsales.us.com/" target="_blank"title="Post title">Metal Sales Roofing</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
        
        <div class="category-post">
           <div class="post-thumb">
              <a href="http://www.lowes.com/" title="Post title"><img class="img-responsive" src="/static/img/Loweslogo.jpg" width="64" height="64" alt="" /></a>
           </div>
           <div class="post-info">
              <h6><a href="http://www.lowes.com/" title="Post title">Lowes</a></h6>
              
           </div>
           <div class="clear"></div>
        </div>
      </div><!-- end widget -->
    </div><!-- end content box -->

     <div class="col-md-4 col-sm-12 content-box wow fadeInUp" data-wow-duration="0.50s" data-wow-delay="1.25s">
      <h5>Get in touch</h5>
      <div class="office">
        <span><i class="fa fa-map-marker"></i> 123 Main Street<br>
          Your City, State Country.</span> 
        <span><i class="fa fa-phone"></i> (123) 456-7890 <br>(123) 456-7890 </span>
        <span><i class="fa fa-envelope-o"></i> <a href="mailto:info@companynme.com" title=""> tnyspot@gmail.com</a> </span>
      </div>   
    </div>
    
      <div class="clear"></div>
      
      <hr class="light">
      
      
                  
    </div><!-- end content box -->
  </div><!--end-container--> 

</footer>
<!-- ::: END ::: -->