
body { 
    background-image: url("/static/img/witewall_3.png");
    background-repeat: repeat;
    padding-top: 70px; 
    min-height: 1500px;

}

.text-align-center {
    text-align: center;
    color: #000;
}


.jumbotron {
    background-image: url("/static/img/tinyhouse.jpg");
    height: 500px;
}

.jumbotron .container {
    position: relative;
    top:100px;
}

.jumbotron h1 {
    color: #fff;
    font-size: 52px;
    font-family:'Courgette', cursive;
    font-weight: bold;
    text-shadow: 2px 2px rgba(32,32,32,0.7);
}

.jumbotron p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #fff;
    text-shadow: 2px 2px rgba(32,32,32,0.7);
}

.jumbo_text {
    background-color:rgba(64,64,64,0.5);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(32,32,32,0.7);
}

.btn-primary {
    text-shadow: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #aaa;
}

.navbar-form .form-control {
    background-color: #FFF; 

}

.blue {
    color: #00a5ff;
}

a.navbar-brand{
    height: 45px;
    width: 45px;
    padding: 0 0 10 0;
}


.navbar-brand>img {
    margin-top: -13px;
    margin-left: -15px;
}

.forum_header {
    margin-top: 35px
}

.forum.table > tbody > tr > td {
    vertical-align: middle;
}

.forum .fa {
    width: 1em;
    text-align: center;
}

.forum.table th.cell-stat {
    width: 6em;
}

.forum.table th.cell-stat-2x {
    width: 14em;
}